.container {
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #121212;
}
.Herosection {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 120px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.container01 {
  height: 482px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: space-between;
}
.text {
  color: var(--dl-color-gray-white);
  font-size: 56px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
}
.text04 {
  color: #FF7437;
}
.text06 {
  color: #FF7437;
}
.text07 {
  color: var(--dl-color-gray-900);
  width: 250px;
  max-width: 260px;
  min-width: 250px;
  align-self: flex-start;
  text-align: left;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.image {
  width: 600px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.scroll-down {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
}
.container02 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.text08 {
  color: var(--dl-color-gray-900);
  padding-left: var(--dl-space-space-unit);
}
.coremembers {
  margin: var(--dl-space-space-threeunits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text12 {
  color: var(--dl-color-primary-500);
  align-self: flex-start;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 1px;
}
.container03 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container04 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container05 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container06 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container07 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container08 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container09 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container11 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.container12 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 991px) {
  .Herosection {
    width: 100%;
  }
  .coremembers {
    width: 100%;
    margin: 0px;
  }
}
@media(max-width: 767px) {
  .Herosection {
    width: auto;
  }
  .image {
    width: 300px;
  }
  .coremembers {
    width: auto;
    align-self: center;
    align-items: center;
  }
  .container03 {
    flex-direction: column;
  }
  .container06 {
    flex-direction: column;
  }
  .container09 {
    flex-direction: column;
  }
  .container12 {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .Herosection {
    width: auto;
  }
  .image {
    display: none;
  }
  .coremembers {
    width: auto;
    margin: 0px;
  }
  .container03 {
    width: auto;
    flex-direction: column;
  }
  .container06 {
    width: auto;
    flex-direction: column;
  }
  .container09 {
    width: auto;
    flex-direction: column;
  }
  .container12 {
    width: auto;
  }
}
