.container {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.container1 {
  flex: 0 0 auto;
  width: 240px;
  height: 280px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.container1:hover {
  box-shadow: 0px 2px 32px 24px #000000;
  background-color: #181818;
}
.image {
  width: 104px;
  height: 104px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.text {
  color: var(--dl-color-primary-300);
  margin-top: var(--dl-space-space-unit);
}
.text1 {
  color: var(--dl-color-gray-900);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text2 {
  color: var(--dl-color-gray-500);
  width: 250px;
  display: none;
  text-align: center;
}
.icons {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.icon {
  fill: #D9D9D9;
  width: 20px;
  transition: 0.3s;
}
.icon:hover {
  fill: var(--dl-color-primary-500);
}
.icon2 {
  fill: #D9D9D9;
  width: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.icon2:hover {
  fill: var(--dl-color-primary-500);
}
.icon4 {
  fill: #D9D9D9;
  width: 20px;
  transition: 0.3s;
}
.icon4:hover {
  fill: var(--dl-color-primary-500);
}





.rootClassName5 {
  align-self: center;
}








